@use 'sass:math';
@use 'sass:map';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}


img {
  max-width: 100%;
  height: auto;
}

$breakpoints: (
  sm: 22rem,
  md: 45rem,
  xl: 74rem,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.outer-container {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 96%;
  margin-inline: auto;

  @include media(sm) {
    max-width: max(21.4375rem, 91.4667%);
  }

  @include media(md) {
    max-width: min(48rem, 89.5833%);
  }

  @include media(xl) {
    max-width: 69.375rem;
  }
}

$colors: (
  neutral: #FFF,
  neutral-500: #83869A,
  neutral-800: #13183F,
  neutral-600: #666CA3,
  secondary: #F74780,
);

$gradients: (
  primary-gradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%),
  secondary-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%)
);

@mixin color-modifiers {

  @each $name,
  $hex in $colors {
    &-#{$name} {
      color: $hex;
    }
  }
}

@mixin color-modifiers($attribute: 'color') {

  @each $name,
  $hex in $colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }

  @if($attribute =='background') {

    @each $name,
    $hex in $gradients {
      &-#{$name} {
        #{$attribute}: $hex;
      }
    }
  }
}

.bg {
  @include color-modifiers('background');
}

.text {
  @include color-modifiers;
}

.headline-xl {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;

  @include media(xl) {
    font-size: 3.5rem;
    line-height: 4.4375rem;
  }
}

.headline-md {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;

  @include media(xl) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.headline-sm {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5625rem;

  @include media(xl) {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.body-md {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;

  @include media(xl) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.btn {
  max-width: 100%;
  padding: 1rem 0;
  display: grid;
  place-items: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  border-radius: 999px;
  color: map.get($colors, neutral);

  @include media(xl) {
    padding: 0.875rem 0;
  }
}


.primary-btn {
  background: map.get($gradients, primary-gradient);

  &.btn {
    padding: 1.25rem 0;
  }
}

.navbar-btn {
  width: 8.75rem;
  background-color: map.get($colors, neutral-800);

  @include media(xl) {
    width: 10.4375rem;
  }

  &:hover {
    background-color: map.get($colors, neutral-600);
  }
}

.navbar {
  margin-top: 1rem;

  @include media(md) {
    margin-top: 1.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-section {
  margin-top: 2.375rem;

  @include media(md) {
    margin-top: 6.1875rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.875rem;

    @include media(md) {
      grid-template-columns: 24.875rem 1fr;
    }
  }

  .body-md {
    margin-top: 1.625rem;
  }

  .btn {
    margin-top: 1.5rem;
    width: 10.4375rem;
  }

  .picture {
    @include media(md) {
      width: 263.3745%;
      transform: translate(-5rem, -16.4375rem);
    }

  }
}