@use 'sass:math';
@use 'sass:map';

html {
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  font-style: normal;
  line-height: 100%;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

$breakpoints: (
  sm: 22rem,
  md: 45rem,
  xl: 74rem,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.container {
  max-width: 96%;
  margin-inline: auto;

  @include media(sm) {
    max-width: max(21.4375rem, 91.4667%);
  }

  @include media(md) {
    max-width: min(48rem, 89.5833%);
  }

  @include media(xl) {
    max-width: 69.375rem;
  }
}

$colors: (
  neutral: #FFF,
  neutral-500: #83869A,
  neutral-800: #13183F,
  neutral-600: #666CA3,
  secondary: #F74780,
);

$gradients: (
  primary-gradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%),
  secondary-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%)
);

@mixin color-modifiers {

  @each $name,
  $hex in $colors {
    &-#{$name} {
      color: $hex;
    }
  }
}

@mixin color-modifiers($attribute: 'color') {

  @each $name,
  $hex in $colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }

  @if($attribute =='background') {

    @each $name,
    $hex in $gradients {
      &-#{$name} {
        #{$attribute}: $hex;
      }
    }
  }
}

.bg {
  @include color-modifiers('background');
}

.text {
  @include color-modifiers;
}

.headline-xl {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;

  @include media(xl) {
    font-size: 3.5rem;
    line-height: 4.4375rem;
  }
}

.headline-md {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;

  @include media(xl) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.headline-sm {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5625rem;

  @include media(xl) {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.body-md {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;

  @include media(xl) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.btn {
  max-width: 100%;
  padding: 1rem 0;
  display: grid;
  place-items: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 999px;
  color: map.get($colors, neutral);

  @include media(xl) {
    font-size: 1.125rem;
    padding: 1.1875rem;
  }
}


.primary-btn {
  background: map.get($gradients, primary-gradient);

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  }

  &.btn {
    padding: 1.25rem 0;
  }
}

.navbar-btn {
  width: 8.75rem;
  background-color: map.get($colors, neutral-800);

  @include media(xl) {
    width: 10.4375rem;
  }

  &:hover {
    background-color: map.get($colors, neutral-600);
  }
}

.navbar {
  margin-top: 1rem;
  position: relative;
  z-index: 99;

  @include media(md) {
    margin-top: 1.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-section {
  margin-top: -4rem;
  padding-top: 6.375rem;
  overflow: hidden;


  @include media(md) {
    margin-top: -4.5rem;
    padding-top: 10.6875rem;
    padding-bottom: 6.25rem;
  }

  @include media(xl) {
    margin-top: -5rem;
    padding-top: 15.75rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.875rem;

    @include media(md) {
      grid-template-columns: 24.875rem 1fr;
    }

    @include media(xl) {
      grid-template-columns: 28.5625rem 1fr;
      gap: 10.125rem;
    }
  }

  .body-md {
    margin-top: 1.625rem;
  }

  .btn {
    margin-top: 1.5rem;
    width: 10.4375rem;
  }

  .picture {
    @include media(md) {
      transform: translate(-3.25rem, -16.4375rem) scale(2.622951);
      transform-origin: top left;
    }

    @include media(xl) {
      transform: translate(-3.25rem, -24.875rem) scale(2.01833);
    }
  }
}

.features-section {

  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  padding-bottom: 5rem;

  @include media(xl) {
    padding-bottom: 8.75rem;
  }

  @include media(md) {
    margin-top: 5.375rem;
  }

  @include media(xl) {
    margin-top: 4.25rem;
  }


  .header {
    padding: 1.5rem 1.75rem 2rem;
    border-radius: 10px;

    @include media(md) {
      padding: 3.5rem 2rem;
    }

    @include media(xl) {
      padding-top: 4rem;
    }
  }

  .container {
    display: grid;
    grid-template-columns: min(100%, 21.4375rem);
    justify-content: center;
    row-gap: 2.5rem;

    @include media(md) {
      grid-template-columns: repeat(2, min(100%, 21.4375rem));
      gap: 3.5rem 0.625rem;
      justify-content: space-between;
    }

    @include media(xl) {
      grid-template-columns: repeat(3, min(100%, 21.4375rem));
      gap: 5rem 1.875rem;
    }
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 0 1.75rem 2rem;
  background-color: white;


  @include media(xl) {
    padding: 0 2rem 2.5rem;
  }

  .headline-sm {

    @include media(xl) {
      margin-top: 0.5rem;
    }
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
    transform: translateY(-1.5rem);
  }


  .body-md {
    margin-top: 1rem;

    @include media(xl) {
      margin-top: 1.5rem;
    }
  }

  .ternary-btn {
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: map.get($colors, secondary);

    &:hover {
      color: #FFA7C3;
    }
  }
}

.footer {
  .container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    width: 8.75rem;

    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }

    @include media(xl) {
      width: 10.4375rem;
    }
  }
}